html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.addButton {
    display: block;
    width: 15vw;
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 1.2vw;
    text-align: center;
    border-radius: 2px;
    color: aliceblue;
    background-color: forestgreen;
    text-decoration: none;
    cursor: pointer;
    border: medium;
    border-color: aliceblue;
}


table {
    margin-top: 2vh;
    border-collapse: collapse;
    border: 1px solid;
}

td, th {
    border: 1px solid;
}

a {
    text-decoration: none;
}

a:hover {
        cursor: pointer;
}
.delete {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

}