html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.addingPrice {
    display: block;
    width:15vw;
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 1.2vw;
    text-align: center;
    border-radius: 2px;
    color: aliceblue;
    background-color: forestgreen;
    text-decoration: none;
    cursor: pointer;
    border: medium;
    border-color: aliceblue;
}
table {
    margin-top:2vh;
    border-collapse:collapse;
    border: 1px solid;
}
td,th {
    border: 1px solid;
}