@using Test.Domain.Entites
@model PriceList

    <div class="div-box">
        <button id="create" class="createPriceList" type="button" onclick="AddCollumn()">Сохранить</button>
        <h5>Название прайс-листа*</h5>
        <input  "class="textbox" type="text" id="NamePriceList" />
        <table id="submissionTable" class="table">
            <tr id="tablerow">        
            </tr>
        </table>
        <button id="add" class="AddColumn" type="button">Добавить колонку</button>
    </div>

@section Scripts{
    <script>
        var counter = 1;
        $(function () {
            $('#add').click(function () {
                $('<tr id="tablerow' + counter + '"><td>' +
                    '"Колонка' +counter +'"</td><td>'+
                    '<input type="text" class="text-box single-line" id="Name[' + counter + ']" value="" required="required" />' +
                    '</td>' +
                    '<td>' +
                    '<select class= "textbox" id="DataType[' + counter + ']"  value ="">' +
                            '<option>Число</option>'+
                            '<option>Текст</option>'+
                        '</select>' +
                    '</td>' +
                    '<td>' +
                    '<button type="button" class="DeleteColumn" onclick="removeTr(' + counter + ');">Удалить</button>' +
                    '</td>' +
                    '</tr>').appendTo('#submissionTable');
                counter++;
                return false;
            });
        });
        function removeTr(index) {
            if (counter > 1) {
                $('#tablerow' + index).remove();
                counter--;
            }
            return false;
        };
        function AddCollumn(){
                var namePriceList = document.getElementById("NamePriceList").value;
                var table = document.getElementById('submissionTable');
                var names = [];
                var dataTypes = [];
                var columns = [];

                for (var i = 1; i < table.rows.length; i++) {

                    names[i-1] = document.getElementById('Name[' + i + ']').value;
                    var select = document.getElementById('DataType[' + i + ']');
                    dataTypes[i - 1] = select.options[select.selectedIndex].text;

                }
                for (var i = 0; i < table.rows.length-1;i++)
                {
                    columns.push({
                        Name: names[i],
                        DataType: dataTypes[i]
                    });
                }
                var data = ({
                    Name: namePriceList,
                    Columns: columns
                });
                $.ajax({
                    type: "post",
                    url: "/Home/AddPriceList",
                    data: JSON.stringify(data),
                    contentType: "application/json;charset=utf-8",
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (req, status, error) {
                        console.log(status)
                    }
                });
                window.location.href = '/Home/Index/';

        }

    </script>
}