@using Test.Domain.Entites
@model List<PriceList>
@{
    ViewData["Title"] = "Home Page";
}

<div class="priceLists">
    <table class="lists">
        <thread>
            <tr>
                <th>№</th>
                <th>Название</th>
            </tr>
        </thread>
        <tbody>
            @if(Model != null)
            {
                foreach (var list in Model)
                {
                    <tr>
                        <td>@list.id</td>
                        <td>@list.Name</td>
                    </tr>

                }
                
            }
        </tbody>
    </table>
    <a class="addingPrice" href="/Home/AddingPriceList">Добавить прайс-лист</a>
</div>
