@using Test.Domain.Entites
@model List<PriceList>
@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="ShowPriceList">
    <div class="priceLists">
        <table class="table">
            <thread>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                </tr>
            </thread>
            <tbody>
                @if (Model != null)
                {
                    foreach (var list in Model.Select((value, i) => new { i, value }))
                    {
                        <tr>
                            <td> <input value="@list.value.Id" name="idPriceList" readonly class="border-0" /></td>
                            <td><a href="" id="@list.value.Id" onclick="ShowPrice(this.id); return false;" name="PriceList">@list.value.Name</a></td>
                        </tr>


                    }

                }
            </tbody>
        </table>


        <a class="addButton" href="/Home/AddingPriceList">Добавить прайс-лист</a>
    </div>
</form>



@section Scripts{
    <script>


        function ShowPrice(id) {
            window.location.href = '/Home/ShowPriceList?idPriceList=' + id;
        };
    </script>
}