@using Test.Domain.Entites
@model PriceList
<div>
    <table>
        @foreach(var collumn in Model.Columns)
        {
            <thread>
                <tr>
                    <th>@collumn.Name</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
        }
    </table>
</div>